/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos gerais */
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh; /* Garante que o body ocupe toda a altura da tela */
  margin: auto;
  max-width: 560px;
  align-items: center;
  font-family: "Poppins", serif;
  font-size: 25px;
  background-color: #f0f0f0;
  line-height: 1.5; /* Ajuste para espaçamento entre linhas */
}

/* Header */
header {
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a9fcb;
  width: 100vw;
}

header h1 {
  text-align: center;
  color: #f0f0f0;
}

/* Main */
main {
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

/* Containers principais */

#container-precos,
#select-box-precos,
#select-box,
#trabalhos,
#empresa,
#select-box-multiplicador,
.div-input,
#container-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto 0.2rem;
  padding: 0 15px;
}

#container-principal {
  display: flex;
  flex-direction: row;
  gap: 10px;
  line-height: 1.5;
  align-items: center;
  justify-content: center;
  border: solid 1px #000;
  padding: 7px;
  border-radius: 15px;
  flex-wrap: wrap;
  margin: 20px 0; /* Espaçamento ao redor do container */
  background-color: #b8d9e4;
}

.div-precos p {
  font-size: 15px;
  font-weight: 500;
  margin: 3px 0; /* Espaçamento entre os parágrafos */
}

/* Estilos do select */
#select-box label,
.div-input label,
label {
  font-family: "Poppins", serif;
  font-weight: 500;
}

#select-options,
#select-precos,
#select-options-multiplicador,
#select-laminacao {
  border-radius: 10px;
  height: 30px;
  width: 200px;
  text-align: center;
}

#select-options-multiplicador {
  width: 160px;
}

/* Estilos dos inputs */
.div-input input {
  border-radius: 10px;
  text-align: center;
  height: 28px;
  width: 130px;
  border: 1px solid #000;
}

#laminacao {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto 0.2rem;
  padding: 0 15px;
}

/* Estilo para deixar o título da laminação em negrito de forma consistente */
#laminacao label {
  font-weight: 500; /* ou 'bold' se preferir mais forte */
}

select option {
  text-align: center;
  background-color: #f0f0f0;
}

/* Botões */
button {
  border: none;
  padding: 10px 15px;
  border-radius: 25px;
  color: #fff;
  background-color: #797979;
  font-family: "Poppins", serif;
  transition: background-color 0.3s ease;
  margin-top: 15px; /* Espaçamento acima do botão */
}

button:hover {
  background-color: #929292;
  cursor: pointer;
}

/* Output do preço */
.output-preco {
  margin: 0 0 3px 0;
}

.output-preco h2 {
  font-weight: 500;
  font-size: 28px;
}

/* Footer */
footer {
  width: 100vw; /* Garante que o footer ocupe toda a largura */
  height: auto; /* Ajusta a altura automaticamente */
  margin-top: auto; /* Empurra o footer para o final da página */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a9fcb; /* Opcional: cor de fundo para destacar o footer */
}

footer h3 {
  color: #f0f0f0;
  font-size: 13px;
  font-weight: 300;
  word-wrap: break-word;
  text-align: center;
  margin: 20px 0; /* Espaçamento superior e inferior */
}
